#footer {
  font-weight: 300;
  margin-top: 150px;

  li:not(:first-child) {
    display: inline;
    margin: 0 1.5em 1.5em 0;
  }
  .social-media-links {
    ul {
      li {
        display: inline;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}
