@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700&display=swap');
/* 
body {
  font-family: 'Source Sans Pro', sans-serif;
} */

#portfolio {
  text-align: center;
}

#portfolio .portfolio-tiles {
  display: flex;
  flex-wrap: wrap;
  margin: -1.5em 0 0 -1.5em;
}

#portfolio .portfolio-tiles .portfolio-item {
  position: relative;
  width: calc(33.33333% - 1.5em);
  margin: 1.5em 0 0 1.5em;
  background: red;
}

#portfolio .portfolio-tiles .portfolio-item span.image {
  position: relative;
  display: block;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

#portfolio .portfolio-tiles .portfolio-item span.image::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2849e;
  z-index: 10;
  opacity: 0.8;
}

body:not(.is-touch) .portfolio-tiles .portfolio-item:hover > span.image {
  transform: scale(1.1);
}

#portfolio .portfolio-tiles .portfolio-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  z-index: 100;
  text-decoration: none;
}

#portfolio .portfolio-tiles .portfolio-item a .content {
  transition: max-height 0.5s ease, opacity 0.5s ease;
  width: 100%;
  margin-top: 0.35em;
  max-height: 0;
  opacity: 0;  
}

body:not(.is-touch) #portfolio .portfolio-tiles .portfolio-item:hover a .content {
  max-height: 15em;
  opacity: 1;
}

#portfolio .portfolio-tiles .portfolio-item img {
  width: auto;
  max-width: 100%;
}


.form-control {
  border: 1px solid #ced4da;
}

.page-header {
  display: block;
}

#footer li:not(:first-child) {
  display: inline;
  margin: 0 1.5em 1.5em 0;
}

@media screen and (max-width: 1280px) {
  #portfolio .portfolio-tiles {
    margin: -1.25em;
  }
  #portfolio .portfolio-tiles .portfolio-item {
    margin: 1.25em 0 0 1.25em;
    width: calc(50% - 1.25em);
  }
}

@media screen and (max-width: 480px) {
  .App > .container > .row .page-header {
    text-align: center;
  }
  #portfolio .portfolio-tiles {
    margin: 0;
  }
  #portfolio .portfolio-tiles .portfolio-item {
    margin: 1.25em;
    width: 100%;
  }
}